SECRET_KEY=my_secret_key_for_codeground
SECRET_KEY_AUTH=my_secret_key_auth_for_codeground
DB_HOST=192.168.82.76
DB_PORT=5432
DB_USER=db_username_here
DB_PASSWORD=db_password_here
DB_NAME=db_name_here
ONLINE_JUDGE_HOST_ENDPOINT=http://localhost:8000/execute_v4
ENV=DEV
PROBLEM_BUCKET=aws_codeground_problems_bucket_name
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=aws_secret_access_key_here
